/* roboto */
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Serif', serif;
font-family: 'Roboto Slab', serif;
*/
/* notosans kr */
/* font-family: 'Noto Sans KR', sans-serif; */

.about{
    width: 100%;
    height: 100vh;
    background: #0049D8;
    padding: 0 0 0 100px;
    box-sizing: border-box;
    .me{
        display: flex;
        justify-content: space-between;
        div{
            padding-top: 50px;
            color: #f9f9f9;
            font-size: 4rem;
            font-family: 'Roboto Serif', serif;
        }
        span{
            padding: 20px;
            font-size: 3rem;
            svg{
                color: #99BCFF;
                filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.25));
            }
        }
    }
    .leftbox{
        margin-top: 180px;
        display: inline-block;
        width: 40%;
        height: 50%;
        color: #fff;
        font-size: 70px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        text-align: right;
        line-height: 50px;
        margin-right: 100px;
        margin-left: 300px;
        .skill{
            text-align: left;
        }
        span{
            display: block;
            padding: 10px 0 0 0;
            font-weight: normal;
            font-size: 25px;
        }
        .line{
            width: 100%; height: 1px;
            background: #fff;
            margin-bottom: 20px;
        }
        .github{
            position: relative;
            top: 15px;
            font-size: 40px;
            font-weight: 600;
            display: inline-block;
            background: #FFF280;
            color: #0049D8;
            padding: 0px 10px;
            border-radius: 30px;
            margin-bottom: 30px;
            filter: drop-shadow(8px 8px 0px rgba(0,0,0,0.25));
            text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
        }
        div>div:nth-child(1){text-shadow: 4px 4px 0px rgba(0,0,0,0.25);}
    }
    .rightbox{
        position: absolute;
        margin-top: 70px;
        width: 20%;
        display: inline-block;
        .imgbox{
            width: 100%;
            z-index: 1;
            img{
                width: 100%;
                box-shadow: 40px 40px 0px #FFF280;
            }
        }
    }
}