.nav{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    bottom:70px; right: 100px;
    display: inline-block;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: baseline;
    .navigate{
        flex: 1;
        display: inline-block;
        box-sizing: border-box;
        font-size: 2rem;
        color: #f9f9f9;
        font-family: 'Roboto Serif', serif;
        font-weight: bold;
        text-shadow: 10px 10px 0px rgba(0,0,0,0.25);
        a{
            color: #f9f9f9;
            font-family: 'Roboto Serif', serif;
        }
    }
    .navigate:hover, .navigate>a:hover{
        color: #FFF280;
        position: relative;
        top: 2px;left: 2px;
    }
}