.projectpage{
    background: #0046CE;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    .projectnav{width: 100%; height: 8%;}
    .projects{
        width: 400%; height: 100%;
        display: flex;
        overflow: hidden;
        .project{
            position: relative;
            left: 0%; top: 7%;
            width: 25%;
        }
    }
}